html {
  scroll-snap-type: y proximity;
}

body {
  font-family: 'Arial', serif;
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(56,23,74);
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.page-about, .page-tree {
  padding: 2rem;
}

// .page-about {
//   overflow-x: hidden;
//   width: 100vw;
//   max-width: 100vw;
//   box-sizing: border-box;
// }

@media only screen and (max-width: 800px) {
  body {
    font-size: 0.95rem;
  }
}

@media (prefers-color-scheme: dark) {
  body.can-go-dark {
    background: rgb(56,23,74);
    background: linear-gradient(170deg, rgba(224,198,93,1) 0%, rgba(118,67,142,1) 47%, rgba(56,23,74,1) 100%);
    background-attachment: fixed;
    color: white;

    .bordered {
      .border-horizontal, .border-vertical {
        background: white;
      }
    }
  }
}
